<style>
    .word-wrap-bg{
        background-image: url('../../app/common/assets/images/border-line-single.png');
    }
</style>

<div ng-show="$ctrl.actualView === $ctrl.view[0]" class="jumbotron">
    <h1>Welcome to NX-Puzzle!</h1>
    <p>Just insert your name and start to play !</p>

    <form name="nameForm">
        <p>
            <input class="name-input" type="text" name="userName" placeholder="Enter your nickname" ng-model="$ctrl.userName" required focus-if="$ctrl.actualView === $ctrl.view[0]" autocomplete="off">
        </p>

        <p>
            <button class="btn btn-lg btn-primary" ng-disabled="!$ctrl.userName || !nameForm.userName.$valid" type="button" ng-click="$ctrl.startTheGame();">Play the game!</button>
        </p>


    </form>
</div>

    <div ng-show="$ctrl.actualView === $ctrl.view[1]" class="jumbotron">
        <h1>You are ready to play!</h1>
        <p class="mt20">You have 40 seconds limit to guess as many words as you can. You will get word with mismatched letters and you must guess each letter correctly in a row to get full score for that word.</p>
        <p class="mt20">Be careful with editing you answers. You will get 1 point fault for each deleted letter or retyping a letter. If you type the word correctly you will immediately get another mismatched word. Try to be as fast as possible and just type! Press the "Start to play" button and show you skills!</p>

        <p class="mt20">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.confirmTheGame();">Start to play !</button>
        </p>
    </div>

    <div ng-show="$ctrl.actualView === $ctrl.view[2]" class="words-wrapper-box jumbotron">

        <h1>Try to guess a word !</h1>

        <div class="row">
            <div class="col-md-12">
                <div class="progress-wrapper col-md-4 small-donut">
                    <h3>Total Points</h3>
                    <div class="progress ng-cloak">{{ $ctrl.totalPoints }}</div>
                    <round-progress
                        max="200"
                        current="$ctrl.totalPoints"
                        color="#5cb85c"
                        bgcolor="#fff"
                        radius="80"
                        stroke="16"
                        semi="false"
                        rounded="true"
                        clockwise="false"
                        responsive="false"
                        duration="300"
                        animation="easeInOutQuart"
                        animation-delay="0"></round-progress>
                </div>

                <div class="progress-wrapper col-md-4">
                    <h3>Timer</h3>
                    <div class="progress ng-cloak">{{ 40 - $ctrl.counter }}</div>
                    <round-progress
                        max="40"
                        current="(39 - $ctrl.counter)"
                        color="#1485CC"
                        bgcolor="#fff"
                        radius="100"
                        stroke="20"
                        semi="false"
                        rounded="true"
                        clockwise="clockwise"
                        responsive="false"
                        duration="300"
                        animation="easeInOutQuart"
                        animation-delay="0"></round-progress>
                </div>

                <div class="progress-wrapper col-md-4 small-donut">
                    <h3>Actual word score</h3>
                    <div class="progress ng-cloak">{{ $ctrl.currentPoints }}</div>
                    <round-progress
                        max="$ctrl.currentPointsOrigin"
                        current="$ctrl.currentPoints"
                        color="#f0ad4e"
                        bgcolor="#fff"
                        radius="80"
                        stroke="16"
                        semi="false"
                        rounded="true"
                        clockwise="clockwise"
                        responsive="false"
                        duration="300"
                        animation="easeInOutQuart"
                        animation-delay="0"></round-progress>
                </div>
            </div>
        </div>

        <div class="word-container mb20">
            <div class="word-wrap word-wrap-bg" style="width: {{$ctrl.listOfWords.testingData[$ctrl.wordOrder].size}}px;">
                {{ $ctrl.listOfWords.testingData[$ctrl.wordOrder].maskedValue }}
            </div>
        </div>

        <div class="word-container mt20">
            <input 
                name="userWordInput"
                style="width: {{$ctrl.listOfWords.testingData[$ctrl.wordOrder].size}}px;" 
                class="word-wrap no-bg" 
                type="text" 
                ng-model="$ctrl.userWord" 
                ng-change="$ctrl.checkWord('{{$ctrl.userWord}}',userWordInput);" 
                focus-if="$ctrl.actualView === $ctrl.view[2]" 
                ui-options="{'allowInvalidValue' : true}" 
                ui-mask="{{ $ctrl.listOfWords.testingData[$ctrl.wordOrder].mask }}" 
                ui-mask-placeholder ui-mask-placeholder-char="_"
            ></input>

        </div>

        <p style="margin-top: 30px;">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.cancelTheGame();">Cancel game</button>
        </p>
    </div>

    <div ng-show="$ctrl.actualView === $ctrl.view[3]" class="jumbotron">
        <h1>Your result {{$ctrl.userName}} !</h1>
        <h2>Your score is {{ $ctrl.totalPoints }} points</h2>

        <button class="btn btn-primary" type="button" ng-click="$ctrl.cancelTheGame();">Back to Welcome page</button> 
    </div>

</main>