.score-info{
    font-size: 24px;
}

.progress-wrapper {
    position: relative;
    margin: 20px auto;
    font-size: 40px;
}

.progress{
    top: 48%;
    bottom: auto;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 35px;

    position: absolute;
    color: #000;
    font-weight: bold;
    line-height: 1;
    height: 35px !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.words-wrapper-box{
    overflow : scroll;

    .word-container{
        overflow-x: scroll;
        text-align: center;

        .word-wrap {
            display: inline-block;
            border: 0px solid #ffffff;
            font: 40px monaco;
            letter-spacing: 50.8px;
            text-indent: 17px;
            text-transform: uppercase;
            height: 50px;

            &.no-bg{
                background: none;
            }
        }
    }
}