<div class="jumbotron">
    <h1>Check highscores table!</h1>
</div>

<table ng-table="$ctrl.tableParams" class="table table-condensed table-bordered table-striped" show-filter="true">
    <tr ng-repeat="user in $data">
        <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
            {{user.name}}</td>
        <td title="'Total points'" filter="{ score: 'number'}" sortable="'score'">
            {{user.score}}</td>
        <td title="'Date and time'" filter="{ timestamp: 'text'}" sortable="'timestamp'">
            {{$ctrl.convertTime(user.timestamp)}}</td>
    </tr>
</table>