input.word-wrap {
  border: 0px solid #ffffff;
  background: url('../images/border-line-complete.png');
  background-position: -2px 0;
  font: 40px monaco, monospace;
  letter-spacing: 50.8px;
  text-indent: 15px;
  text-transform: uppercase;
}